# MacOSX
.DS_Store

# packer
configs/nvim/.config/nvim/plugin/packer_compiled.lua

# zsh
configs/zsh/local_env.zsh
configs/zsh/local_envs.zsh
configs/zsh/local*.zsh
configs/zsh/*.local.zsh
configs/zsh/.zsh_history
**/.zsh_history

# idea
.idea
